{% extends 'base.html' %}
{% load static %}

{% block content %}
	<h2>Homepage</h2>
	<p>Welcome to My GRS, {% if user.is_authenticated %}{{ user.username }}{% else %}visitor{% endif %}!</p>
	<p>Total users registred: {{ counter }}</p>

	<br>

	<br>
	{% if user.is_authenticated %}
		{% if data %}

			<!-- <div class="col-12 col-md-9 col-xl-8" style="margin-left: auto; margin-right: auto; display: block;">
				<div id="carouselMovies" class="carousel slide" data-ride="false" data-interval="false">
				 	<ol class="carousel-indicators">
				  		{% for item in data %}
				    		<li data-target="#carouselMovies" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
				    	{% endfor %}
				 	</ol>

				 	<div class="carousel-inner">
				 	{% for item in data %}
				 		{% if forloop.counter0 == 0 %}
							<div class="carousel-item active" style="background-color: black;">
								
				    			<div id="wrapper" style="width: 100%; overflow: hidden;">
				    				<div style="width:50%; float:left; ">
				    					{% if item.poster == 'None' %}
											<img class="d-block w-100" style="max-width:400px; margin-left: auto; margin-right: auto;" src="{% static 'img/cat_1.jpg' %}" alt="{{ forloop.counter0 }}">
							    		{% else %}
				    						<img style="width: 70%; margin-left: auto; margin-right: auto;" src="{{ item.poster }}" alt="{{ forloop.counter0 }}">
				    					{% endif %}
				    				</div>
				    				

				    				<div class="card" style="float:left; width:50%;">
										<div class="card-body">
											<h5>{{ item.title }}</h5>
											<p>Genres: {{ item.genres }}</p>
											<p>Year: {{ item.year }}</p>
											<p>ImdbLink: <a href="{{ item.imdb_link }}">Click here to see the sinopse.</a> {{ item.imdb_id }}</p>
											<p>YoutubeId: <a href="https://www.youtube.com/watch?v={{ item.youtubeId }}">Trailer on Youtube.</a></p>
											<p>Tags: {{ item.tags }}</p>
										</div>

										<div class="col-12" style="text-align: center; min-height: 150px; top: 50%;">
											<form>
												<div class="my-rating">Your rating: </div>
												<input type="hidden" class="input-hidden" id="my-input-rating" name="this-rating" required="">
												<input type="hidden" class="input-hidden" id="my-input-movieId" name="this-movie" value="{{ item.movie_id }}">
												<input type="hidden" class="input-hidden" id="my-input-userId" name="this-user" value="{{ user.id }}">

												<button type="submit" disabled="true" class="btn btn-primary col-8" id="eval-button">Evaluate</button>
											</form>
										</div>

									</div>
				    			</div>

					    	</div>
				    	{% else %}
				    		<div class="carousel-item" style="background-color: black;">
					    		
					    		<div id="wrapper" style="width: 100%; overflow: hidden;">
				    				<div style="width:50%; float:left; ">
				    					{% if item.poster == 'None' %}
											<img class="d-block w-100" style="max-width:400px; margin-left: auto; margin-right: auto;" src="{% static 'img/cat_1.jpg' %}" alt="{{ forloop.counter0 }}">
							    		{% else %}
				    						<img style="width: 70%; margin-left: auto; margin-right: auto;" src="{{ item.poster }}" alt="{{ forloop.counter0 }}">
				    					{% endif %}
				    				</div>
				    				

				    				<div class="card" style="float:left; width:50%;">
										<div class="card-body">
											<h5>{{ item.title }}</h5>
											<p>Genres: {{ item.genres }}</p>
											<p>Year: {{ item.year }}</p>
											<p>ImdbLink: <a href="{{ item.imdb_link }}">Click here to see the sinopse.</a> {{ item.imdb_id }}</p>
											<p>YoutubeId: <a href="https://www.youtube.com/watch?v={{ item.youtubeId }}">Trailer on Youtube.</a></p>
											<p>Tags: {{ item.tags }}</p>
										</div>

										<div class="col-12" style="text-align: center; min-height: 150px; top: 50%;">
											<form>
												<div class="my-rating">Your rating: </div>
												<input type="hidden" class="input-hidden" id="my-input-rating" name="this-rating" value="0">
												<input type="hidden" class="input-hidden" id="my-input-movieId" name="this-movie" value="{{ item.movie_id }}">
												<input type="hidden" class="input-hidden" id="my-input-userId" name="this-user" value="{{ user.id }}">

												<button type="submit" disabled="true" class="btn btn-primary col-8" id="eval-button">Evaluate</button>
											</form>
										</div>

									</div>
				    			</div>

					    	</div>
				    	{% endif %}
				    {% endfor %}
					</div>

					<a class="carousel-control-prev" href="#carouselMovies" role="button" data-slide="prev" style="max-width: 100px;">
				    	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    	<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselMovies" role="button" data-slide="next" style="max-width: 100px;">
				    	<span class="carousel-control-next-icon" aria-hidden="true"></span>
				    	<span class="sr-only">Next</span>
					</a>
				</div>
			</div> -->


			<div class="container col-12">

			{% for item in data %}

			    {% if forloop.first %}<div class="row">{% endif %}
			    <div class="col-4" style="width: 100%; overflow: hidden;">
			    	
			    	<div style="width:50%; float:left;">
			    		{% if item.poster == 'None' %}
							<img class="d-block w-100" style="margin-left: auto; margin-right: auto;" src="{% static 'img/cat_1.jpg' %}">
			    		{% else %}
    						<img style="width: 100%; margin-left: auto; margin-right: auto;" src="{{ item.poster }}">
    					{% endif %}
			    	</div>

			    	<div class="card" style="float:left; width:50%;">
			    		<div class="card-body">
							<h5>{{ item.title }}</h5>
							<p>Genres: {{ item.genres }}</p>
							<p>Year: {{ item.year }}</p>
							<p>ImdbLink: <a href="{{ item.imdb_link }}">Click here to see the sinopse.</a> {{ item.imdb_id }}</p>
							<p>YoutubeId: <a href="https://www.youtube.com/watch?v={{ item.youtubeId }}">Trailer on Youtube.</a></p>
							<p>Tags: {{ item.tags }}</p>
						</div>

						<div class="col-12" style="text-align: center; min-height: 150px; top: 50%;">
							<form method="post" class="eval-form">
								{% csrf_token %}
								<div class="my-rating">Your rating: </div>
								<input type="hidden" class="input-hidden" name="this-rating" value="0">
								<input type="hidden" class="input-hidden" name="this-movie" value="{{ item.movie_id }}">
								<input type="hidden" class="input-hidden" name="this-user" value="{{ user.id }}">

								<button type="submit" disabled="true" class="btn btn-primary col-8 submitButton" name="this-button">Evaluate</button>
							</form>
						</div>
			    	</div>
		        </div>
			    {% if forloop.counter|divisibleby:3 %}</div><br><div class="row">{% endif %}
			    {% if forloop.last %}</div>{% endif %}
			{% endfor %}

			</div>
			
		{% endif %}
	{% endif %}
{% endblock %}