{% extends 'base.html' %}

{% block content %}
	<h2>Sign Up</h2>
	<form method="post">
		{% csrf_token %}
		<!--  form.as_p }} -->
		<p>
			<label for="id_username">Email:</label>
			<input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username">
			<span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
		</p>

		<p>
			<label for="id_password1">Password:</label> 
			<input type="password" name="password1" autocomplete="new-password" required="" id="id_password1"> 
			<span class="helptext"></span>
		</p>

		<ul>
			<li>Your password can’t be too similar to your other personal information.</li>
			<li>Your password must contain at least 8 characters.</li>
			<li>Your password can’t be a commonly used password.</li>
			<li>Your password can’t be entirely numeric.</li>
		</ul>

		<p>
			<label for="id_password2">Password confirmation:</label> 
			<input type="password" name="password2" autocomplete="new-password" required="" id="id_password2"> 
			<span class="helptext">Enter the same password as before, for verification.</span>
		</p>

		{% if form.errors %}
		    {% for field in form %}
		        {% for error in field.errors %}
		            <div class="alert alert-danger">
		                <strong style="color: red">{{ error|escape }}</strong>
		            </div>
		        {% endfor %}
		    {% endfor %}
		    {% for error in form.non_field_errors %}
		        <div class="alert alert-danger">
		            <strong style="color: red">{{ error|escape }}</strong>
		        </div>
		    {% endfor %}
		{% endif %}

		<button type="submit">Sign Up</button>
	</form>
{% endblock %}